body {
  direction:rtl;
height: 100%;
  margin: 0;
  font-family: 'IRANYekan','digikala' !important;
   

}

code {
  font-family:'IRANYekan','digikala' !important;
  


}

#root {
  height: 100%;
}

a {
  text-decoration:none;
}